@model CinemaApp.Models.BookingViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SelectSeats">
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input asp-for="Email" type="email" name="email" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="TimeSlotID" class="control-label">TimeSlot</label>
                <select asp-for="TimeSlotID" class="form-control" asp-items="@ViewData["timeSlotList"] as IEnumerable<SelectListItem>">
                    <option selected="selected" value="">Please select</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="To seat selection" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
