@model CinemaApp.Models.BookingViewModel

@{
    ViewData["Title"] = "Select Seats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input readonly asp-for="Email" value="@Model.Email" type="email" name="email" class="form-control" />
            </div>

            <select hidden asp-for="TimeSlotID" class="form-control">
                <option selected="selected" value="@Model.TimeSlotID"></option>
            </select>

            <div class="form-group">
                <label asp-for="BookedSeatIDs" class="control-label">Seats</label>
                <select asp-for="BookedSeatIDs" class="form-control" multiple asp-items="@ViewData["availableSeatList"] as IEnumerable<SelectListItem>">
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Create">Back to Create Booking</a> | <a asp-action="Index">Back to list</a>
</div>