<a class="btn btn-light" routerLink="../">Back to all movies</a>
<div class="card my-3 bg-dark" *ngIf="timeSlotFound; else notFound">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="timeSlot.movie.photoURL" class="card-img cover-photo" alt="{{timeSlot.movie.title}} cover photo">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="h1">{{timeSlot.movie.title}}</h1>
        <p class="card-text">{{timeSlot.movie.description}}</p>
        <p class="card-text">
          <small class="text-warning">Rating: </small>
          <span class="badge badge-warning">{{timeSlot.movie.rating}}</span>
        </p>
        <p class="card-text"><span class="badge badge-info">{{timeSlot.time.substring(11, 16)}}</span></p>
        <button *ngIf="!wantsToBook; else cancelBookingIntent" (click)="toggleBookingIntent()" class="btn btn-success">Book my seats now!</button>

        <ng-template #cancelBookingIntent>
          <button (click)="toggleBookingIntent()" class="btn btn-danger">Cancel</button>
        </ng-template>
      </div>
    </div>

    <div *ngIf="wantsToBook" class="col-md-8 offset-md-2 col-sm-12 offset-sm-0">
      <h4 class="text-center mt-3">Book your seats!</h4>
      <form id='booking-form' class="mb-3">
        <label>Choose seats</label>
        <div *ngFor="let rows of seats" class="btn-group block-display my-2">
          <button *ngFor="let item of rows" class="btn" 
                [ngClass]="{'btn-info': item.available, 'btn-danger': !item.available, 'btn-light': bookedSeatsModel[item.id]}"
                [attr.disabled]="!item.available ? 'disabled' : null"
                name="allSeats" [(ngModel)]="bookedSeatsModel[item.id]" btnCheckbox tabindex="0" 
                role="button">
            {{item.row}} {{item.nr}}
          </button>
        </div>
        
        <div class="form-group">
          <label>Your e-mail</label>
          <input type="email" class="form-control" [(ngModel)]="userEmail" name="userEmail" />
        </div>

        <button (click)="submitForm()" class="btn btn-success mt-3">Make your booking!<b>*</b></button>
        <hr class="clearfix" />
        
        <label><span class='text-danger'>*</span>Check your email to confirm your booking. You will be redirected to the home page after you book your seats.</label>
      </form>
    </div>
  </div>
</div>

<ng-template #notFound>
  <div class="alert alert-secondary max-width text-center">
    ERROR: No TimeSlot found with the corresponding ID! 
  </div>
</ng-template>

