<<<<<<< HEAD
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
=======
.movie-card {
    max-width: 650px;
    margin:20px;
  }
  
  mat-card-content{
    display:flex;
    width:100%;
  }

  img{
  display:block;
  float:left;
  width:100%;
  height:fit-content;
  }

  .row{
    flex-direction:row;
    display:flex;
    margin-top:0;
  }

  .button-row{
    display:inline-block;
    margin-left:30px;
  
  }

  .column1{
    display:block;
    height:100%;
    max-width:48%;
  }

  .column2{
    display:block;
   max-width:52%;
   height:100%;
   text-align:center;
   position:relative;
   margin-left:0;
   margin-right:0;
   margin-left:auto;
   margin-right:auto;
  }

  .mat-card-title{
   display:flex!important;
   margin:auto;
   text-align: center !important;
   justify-items: center !important;
>>>>>>> f4d2c61... Added service, pages, navigation
  }