<mat-card class="movie-card">
  <mat-card-content>
    <div class="row">
      <div class="column1">
    <img src="https://media1.tenor.com/images/d62281d142846278c307598c4a9f0da3/tenor.gif?itemid=7427051" alt="Movie Photo">
    </div>
    <div class="column2">
      <mat-card-header>
        <mat-card-title>{{movie.title}}</mat-card-title>
      </mat-card-header>
      <div class="button-row">
        <button>First choice</button>
        <button>Second choice</button>
      </div>
  </div>
  </div>
  </mat-card-content>
</mat-card>
