li{
    list-style-type: none; 
}

.column-0{
width:50%;
display:block;
}

.column-1{
    width:50%;
    display:block;
}

.row{
    display:flex;
    flex-direction: row;
}

.movies-wrapper{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    }
