<div>
    <h2>Currently running</h2>
    <div class="row">
        <div class="column-0">
            <li *ngFor="let movie of movies; index as i">
                <div *ngIf="i % 2==0">
                    <app-movie [movie]="movie"></app-movie>
                </div>
            </li>
        </div>

        <div class="column-1">
            <li *ngFor="let movie of movies; index as i">
                <div *ngIf="i % 2==1">
                    <app-movie [movie]="movie"></app-movie>
                </div>
            </li>
        </div>


    </div>

</div>

