@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Cinema Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label class="control-label">RoomNr</label>
                <input type="number" name="roomNr" class="form-control" min="1" max="100" value="1" />
            </div>

            <button type="button" class="btn btn-info" onclick="addSeat()">Add new Seat</button>
            <hr class="clearfix" />

            <table class="table">
                <thead>
                    <tr>
                        <th>Row</th>
                        <th>Nr</th>
                    </tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>
            <button type="button" class="btn btn-warning" onclick="removeSeat()">Remove last Seat</button>

            <hr class="clearfix" />
            <div class="form-group">
                <button type="button" class="btn btn-primary" onclick="submitForm()">Update Cinema Room!</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    const cinemaRoomID = @ViewData["roomID"];
    const tableBody = document.getElementById('table-body');
    const roomNr = document.getElementsByName('roomNr')[0];
    let seats = 0;

    (() => {
        fetch(`/api/CinemaRooms/${cinemaRoomID}`)
            .then(resp => resp.json())
            .then(resp => {
                roomNr.value = resp.roomNr;
                resp.seats.forEach(elem => {
                    addSeat();
                    document.getElementsByName(`seat-row-${seats}`)[0].value = elem.row;
                    document.getElementsByName(`seat-nr-${seats}`)[0].value = elem.nr;
                });
            });
    })();

    const removeSeat = () => {
        tableBody.removeChild(document.getElementById(`seat-${seats}`));
        seats -= 1;
    }

    const addSeat = () => {
        seats += 1;
        let row = document.createElement('tr');
        row.id = `seat-${seats}`;

        let seatRowInput = document.createElement('input');
        seatRowInput.type = 'text';
        seatRowInput.maxLength = 1;
        seatRowInput.name = `seat-row-${seats}`;
        seatRowInput.className = 'form-control';
        seatRowInput.required = true;
        let seatNrInput = document.createElement('input');
        seatNrInput.type = 'number';
        seatNrInput.name = `seat-nr-${seats}`;
        seatNrInput.className = 'form-control';
        seatNrInput.required = true;

        let seatRow = document.createElement('td');
        seatRow.appendChild(seatRowInput);
        let seatNr = document.createElement('td');
        seatNr.appendChild(seatNrInput);
        row.appendChild(seatRow);
        row.appendChild(seatNr);
        tableBody.appendChild(row);
    }

    const submitForm = () => {
        const roomNr = parseInt(document.getElementsByName('roomNr')[0].value);
        let seatList = [];
        for (let i = 1; i <= seats; i += 1) {
            seatList = [...seatList,
                {
                    Row: document.getElementsByName(`seat-row-${i}`)[0].value,
                    Nr: parseInt(document.getElementsByName(`seat-nr-${i}`)[0].value)
                }];
        }
        const cinemaRoomObj = {
            RoomNr: roomNr,
            Seats: seatList
        };

        // for debugging
        console.log(cinemaRoomObj);
        fetch(`/api/CinemaRooms/${cinemaRoomID}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: cinemaRoomObj
        })
            // for debugging
            .then(resp => resp.json())
            .then(resp => { console.log(resp) });
    }

</script>