<h3 class="mat-display-1 text-center mb-2">Program</h3>
<div class="btn-group max-width" (ngModelChange)="changeDate($event)" btnRadioGroup [(ngModel)]="selectedDate">
  <label *ngFor="let item of nextTenDays" class="btn btn-dark py-2" btnRadio="{{item.value}}" tabindex="0" role="button">{{item.display}}</label>
</div>

<div class="container-fluid my-3">
  <h4>Browsing movies on {{selectedDate}}</h4>
  <div class="row p-0">
    <ng-container *ngFor="let item of movies | keyvalue">
      <app-movie class="col-md-6 col-sm-12 m-0" [movie]="item.key" [timeSlot]="item.value"></app-movie>
    </ng-container>
    <ng-template [ngIf]="!moviesFound">
      <div class="alert alert-secondary max-width text-center">
        No movies are being played on the selected date ({{selectedDate}})! 
      </div>
    </ng-template>
  </div>
</div>
